<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Забули пароль? Нічого страшного, усі щось забувають :) </p>
            <p> Ви можете встановити новий пароль. Для цього перейдіть за <a href={{{resetPasswordLink}}}>
                посиланням. </a></p>
        </td>
    </tr>

</table>
