<table style="text-align: center;
              width: 100%;
              font-size: 15px;
              font-weight: bold;">

    <tr>
        <td>
            <p> Kind regards, </p>
            <p> Typeto App </p>
        </td>
    </tr>

</table>